pip
streamlit
streamlit_webrtc
av
numpy
fastapi
twilio
mediapipe
opencv-python-headless>=3.4.2
reportlab
tensorflow-macos==2.10.0; sys_platform == 'darwin' and 'ARM' in platform_version # Mac M-chips
tensorflow==2.10.0; sys_platform == 'darwin' and 'ARM' not in platform_version # Mac Intel chips
tensorflow==2.10.0; sys_platform != 'darwin' # Windows & Ubuntu Intel chips
flask
cv2
